{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <div class="center">
        <h1 class="mb-4">Business Finder</h1>
        <h2 class="mb-3 mt-4 fs-4">Please login to access the system</h2>
        <form action="{{ path('app_login') }}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Email:</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="username" 
                    placeholder="Email"
                    name="_username" 
                    value="{{ last_username }}"
                >
            </div>
    
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input 
                    type="password" 
                    id="password" 
                    placeholder="Password"
                    name="_password"
                    class="form-control"    
                >
            </div>
    
            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/business"> #}
    
            {% if error %}
                <div class="mb-3" style="color: #dc3545">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <button type="submit" class="btn btn-primary">Login</button>
            <a 
                type="submit" 
                class="btn btn-success" 
                href="{{ path('app_register') }}"
            >
            Register
            </button>
        </form>
    <div>
{% endblock %}